*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', "sans-serif";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    letter-spacing: 1.1px; 
}

header{
    background-color: rgb(145, 11, 11);
    color: white;
    text-align: center;
}

h1{
    text-align: center;
    padding: 15px 0px;
    color: black;
    font-weight: 400;
 } 

p{
    flex-wrap: wrap;
    padding: 20px 15px;   
    line-height: 1.3;
    font-size: 16px;
    color: black;
}

img{
    display:block;
    margin:auto;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

footer{
    background-color: rgb(145, 11, 11);
    color: white;
    font-weight:300;
    font-size: 12px;
    text-align: center;  
    margin-top:40px;  
}

@media screen and (min-width: 700px){
    img{
        margin:auto;
        width: 550px;
        height: 400px;
    }
}